@import url("stylesheet.css");

/*
 * Thin width for UX on blog
 */
#content {
    display: block;
    margin-left: 18.07408%;
    max-width: 650px;
    font-size: 20px;
    font-height: 1.6em;
    line-height: 1.6;
    margin-bottom: 3em;
    padding: 0 3.4em;

}

.title {
font-family: 'Arial';
fonsize: 2.8em;
font-weight: bolder;
color: #333;
}