@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url("http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    font-size:100%;
    line-height: 2.68;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;    
    color: #444;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'Droid Serif', sans-serif;
}

H1 {font-size:2em}  /* displayed at 24px */
H2 {font-size:1.5em}  /* displayed at 18px */
H3 {font-size:1.25em}  /* displayed at 15px */
H4 {font-size:1em}  /* displayed at 12px */

.title {
    color: #C90B0B;
    margin: 0 auto;
}

/* Org mode content */
#content {
    padding-bottom: 2em;    
    max-width: 45em;
    margin: 0 auto;

    background: #FFF none repeat scroll 0% 0%;
    border-top: 5px solid #C90B0B; /* #BD2A2A;*/
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.36);
    box-sizing: border-box;
    margin: 0px auto 60px;
    padding: 50px;
}

/* Index page content */
.content {
    padding: 1em 1em;
}

.content li{ list-style-type: none; font-size: 1.3em;}


a { color: #12C; }
a:visited { color: #61C; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

b, strong {
    font-weight: bold;
}

pre, code {
    font-family: monospace, monospace;
    margin: 1em 0px;
    background: #f5f2f0;    
    font-size: 1em;
    padding: 1em 1.5em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: circle;
}

img { border: 0; max-width: 100%; }

header, footer, .container { max-width: 45em; margin: 0 auto; }

header {
    padding: 3em 0 2em 0;
    color: #C90B0B;
}
header img { border-radius: 40px; float: left; }
header p { font-size:1.5em; font-weight: bold; padding-left: 4em;}
header p span { font-size: 0.8em; font-weight: normal;}

.org-ul { font-size: 1em }
li img { float:left; padding-right: 1em; }
li p {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;    
}

footer {
    padding: 0 0.5em;
    border-top: 1px solid #ccc;
}

ol li {
    margin-left: 2.5rem; padding-left: 0rem;
    list-style-position: outside;
}

